* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Roboto, sans-serif;
}

nav {
    background-color: #afafaf;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.title-container em {
    font-size: 64px;
    font-weight: 600;
    font-family: Brush Script MT, Comic Sans MS;
    margin-right: 16px;
}

.title-container img{
    width: 128px;
    height: 128px;
}

.review-container {
    padding: 64px;
    height: auto;
    background-color: #00A652;
}

.review-container p {
    color: #ffff;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 64px;
}

.review-container em {
    color: #ffff;
    display: block;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    padding-right: 128px;
}

.schedule-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 64px;
}

.schedule-container h2 {
    font-size: 62px;
    font-weight: 800;
    margin-bottom: 16px;
}

.schedule-container p {
    font-size: 40px;
    font-weight: 600;
    margin: 16px auto 16px auto;
}

.location-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    height: auto;
    background-color: #EE1B24;
}

.location-container h2 {
    color: #ffff;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
}

.location-container p {
    color: #ffff;
    font-size: 24px;
    font-weight: 600;
    margin: 16px auto 16px auto;
}